In [2]:
#Import de fichier appelé exemple.xlsx
import pandas as pd
e=pd.read_excel("exemple.xlsx")

In [3]:
#Nous avons alors un data frame contenant nom, prénom,note1 et note2
e

        Nom   Prénom  Note 1  Note 2
0  Tremblay     Alex      16      12
1   Mestari  Ibrahim      13      16
2    Manjra     Sara      15      16

In [4]:
#Vérifions avec type
type(e)

pandas.core.frame.DataFrame

In [7]:
#Calculez la moyenne
e["Note finale"]=(e["Note 1"]+e["Note 2"])/2

In [8]:
e["Note finale"]

0    14.0
1    14.5
2    15.5
Name: Note finale, dtype: float64

In [9]:
"""Nous pouvons dès lors stocker ses résultats dans un fichier que nous allons créer avec la fct cette fois-ci to_Excel que 
nous allons appeler ici résultats avec l'extension xlsx"""
e.to_excel("résultat.xlsx")

In [11]:
e1=pd.read_csv("exemple.csv")

In [12]:
e1

  Nom;Prénom;Note 1;Note 2
0      Tremblay;Alex;16;12
1    Mestari;Ibrahim;13;16
2        Manjra;Sara;15;16

In [13]:
e1=pd.read_csv("exemple.csv",sep=";")

In [14]:
e1

        Nom   Prénom  Note 1  Note 2
0  Tremblay     Alex      16      12
1   Mestari  Ibrahim      13      16
2    Manjra     Sara      15      16

In [16]:
#Charger un fichier JSON (Javascript Object Notation)
#Création d'un dictionnaire
D_pays={'Pays1':{'Code_Pays':'AT',
               'Nom_Pays':'Autriche',
               'Langue':'Allemand'},
       'Pays2':{'Code_Pays':'FR',
               'Nom_Pays':'France',
               'Langue':'Français'},
       'Pays3':{'Code_Pays':'MA',
               'Nom_Pays':'Maroc',
               'Langue':'Arabe'}}

In [17]:
D_pays

{'Pays1': {'Code_Pays': 'AT', 'Nom_Pays': 'Autriche', 'Langue': 'Allemand'},
 'Pays2': {'Code_Pays': 'FR', 'Nom_Pays': 'France', 'Langue': 'Français'},
 'Pays3': {'Code_Pays': 'MA', 'Nom_Pays': 'Maroc', 'Langue': 'Arabe'}}

In [18]:
#Convertir ce dictionnaire au format JSON, 
import json

In [19]:
#Transformer notre dictionnaire au format json
json.dumps(D_pays)

'{"Pays1": {"Code_Pays": "AT", "Nom_Pays": "Autriche", "Langue": "Allemand"}, "Pays2": {"Code_Pays": "FR", "Nom_Pays": "France", "Langue": "Fran\\u00e7ais"}, "Pays3": {"Code_Pays": "MA", "Nom_Pays": "Maroc", "Langue": "Arabe"}}'

In [22]:
#enregistrer ce résultat dans un fichier, que nous appelerons ici "pays.json"
with open('pays.json','w') as f:
    f.write(json.dumps(D_pays))

In [23]:
#Charger le contenu du fichier que nous venons de créer en le mettant directement dans une variable de type dictionnaire et 
#ceci en utilisant la foncrtion load:
with open('pays.json','r')as f:
    pays=json.load(f)

In [24]:
pays

{'Pays1': {'Code_Pays': 'AT', 'Nom_Pays': 'Autriche', 'Langue': 'Allemand'},
 'Pays2': {'Code_Pays': 'FR', 'Nom_Pays': 'France', 'Langue': 'Français'},
 'Pays3': {'Code_Pays': 'MA', 'Nom_Pays': 'Maroc', 'Langue': 'Arabe'}}

In [25]:
type(pays)

dict

In [26]:
#tri selon l'ordre alphabétique des clés du dictionnaire,
print(json.dumps(pays,sort_keys=True))

{"Pays1": {"Code_Pays": "AT", "Langue": "Allemand", "Nom_Pays": "Autriche"}, "Pays2": {"Code_Pays": "FR", "Langue": "Fran\u00e7ais", "Nom_Pays": "France"}, "Pays3": {"Code_Pays": "MA", "Langue": "Arabe", "Nom_Pays": "Maroc"}}